body {
  background-color: bisque;
}

/* .outer-border {
  border: 2px solid #de9b72;
  height: 99%;
  width: 98%;
  padding: 6px;
  margin: 0 auto;
}

.mid-border {
  border: 6px solid #de9b72;
  height: 100%;
  width: 100%;
  padding: 6px;
  margin: auto;
}
.inner-border {
  position: relative;
  border: 2px solid #de9b72;
  height: 100%;
  width: 100%;
  margin: auto;
} */
